<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>JanKen GAME!</title>
</head>

<body>

  <div><a href="/logout">ログアウト</a></div>
  <h1>JanKen GAME!</h1>

  <p th:if="${users}">
    エントリー
  <div th:each="users,stat:${users}">
    <ul>
      <li>[[${users.name}]]</li>
    </ul>
  </div>
  </p>

  <a href="/rock">ぐー</a>
  <a href="/scissors">ちょき</a>
  <a href="/paper">ぱー</a>

  <p>
  <div th:if="${hand}">
    あなたの手 [[${hand}]]<br>
    相手の手 Gu<br>
    結果[[${result}]]<br>
  </div>
  </p>

</body>

</html>
