<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>JanKen GAME!</title>
</head>

<body>

  <div><a href="/logout">ログアウト</a></div>
  <h1>JanKen GAME!</h1>
  <div th:if="${loginUser}">
    Hi [[${loginUser}]]
  </div>

  <p th:if="${users}">
  <h2>エントリー</h2>
  <div th:each="users,stat:${users}">
    <ul>
      <li th:each="user:${users}"><a th:href="@{/match(id=${user.id})}"> [[${user.name}]]</a></li>
    </ul>
  </div>
  </p>

  <p th:if="${matchinfo}">
  <h2>アクティブな試合</h2>
  <div th:each="matchinfo,stat:${matchinfo}">
    <tr>
      <td>id:[[${matchinfo.id}]]</td>
      <td>user1:[[${matchinfo.user1}]]</td>
      <td>user2:[[${matchinfo.user2}]]</td>
      <td>isActive:[[${matchinfo.isActive}]]</td>
    </tr>
  </div>
  </p>

  <p th:if="${matches}">
  <h2>試合結果</h2>
  <div th:each="matches,stat:${matches}">
    <tr>
      <td>id:[[${matches.id}]]</td>
      <td>user1:[[${matches.user1}]]</td>
      <td>user2:[[${matches.user2}]]</td>
      <td>user1の手:[[${matches.user1Hand}]]</td>
      <td>user2の手:[[${matches.user2Hand}]]</td>
    </tr>
  </div>
  </p>

</body>

</html>
